[build]
command = "npm run build"
functions = "netlify/functions"
publish = "dist"

[dev]
command = "npm run dev"
port = 3_000
publish = "dist"

[[redirects]]
from = "/preview/(.*)/"
to = "/.netlify/functions/dynamic"
status = 200
force = true
_generated_by_eleventy_serverless = "dynamic"

[[redirects]]
from = "/preview/(.*)"
to = "/.netlify/functions/dynamic"
status = 200
force = true
_generated_by_eleventy_serverless = "dynamic"
