{% set slug = eleventy.serverless.path._ %}
{% set active_page = merged_pages[slug] %}

<pre>
{{ slug | dump(2) }}
</pre>

{% if active_page %}

  {% set pdata = active_page %}
  {% set title = pdata.content.meta_tags[0].title %}
  {% if pdata.lang === 'default' %}
    {% set lang = 'de' %}
  {% else %}
    {% set lang = 'en' %}
  {% endif %}

  <details>
    <summary>Show code</summary>
    <pre>
      {{ active_page | dump(2) }}
    </pre>
  </details>
  {% include 'controller.njk' %}

{% else %}

  <p>there is no page for this url</p>

{% endif %}
