---
permalink: '{{ pagination.pageNumber }}.html'
pagination:
  data: pages
  size: 1
  alias: pdata
  resolve: values
---

<details>
  <summary>Show code</summary>
  <pre>
    {{ pdata | dump(2) }}
  </pre>
</details>
{% include 'controller.njk' %}
