{{ title }} – {{ lang }}

{% set content = pdata.content %}

{# here go all toplevel bloks (not part of modular `body` blok) #}
{% if content.tracks %
  {% set tracks = content.tracks %}
  {% include 'tracks.njk' %}
{% endif %}

{# looping over all modular bloks inside `body` #}
{% for blok in content.body %}
  {% set type = blok.component %}
  {% if type === 'rich_text' %}
    {{ blok._editable | safe }}
    <section>{{ blok.body | renderRichText | safe }}</section>
  {% elseif type === 'youtube_video' %}
    {% set youtube_video = blok %}
    {% include 'youtube_video.njk' %}
  {% endif %}
{% endfor %}
