{% set video_id = blok.url.url | getYoutubeID %}

{{ blok._editable | safe }}
<section>
  <sp-video
    class="dynamic-element"
    provider="youtube-nocookie"
    video-id="{{ video_id }}"
  >
    {% set img_url = ('https://img.youtube.com/vi/' + video_id + '/maxresdefault.jpg') %}
    {% image src=img_url, preview_src=img_url, alt="", picture_attributes={ slot: 'thumbnail' } %}
    {# <img slot="thumbnail" src="{{ img_url }}" alt=""> #}
    <button
      slot="controller"
      class="button uppercase hidden-when-undefined"
    >
      {% if lang === 'de' %}
        Video abspielen
      {% else %}
        Play video
      {% endif %}
    </button>
    <!-- Fallback for browsers that don't support custom elements, has to use class="fallback-link" -->
    <a
      href="https://www.youtube.com/watch?v={{ video_id }}"
      class="fallback-link"
      target="blank"
      rel="noopener noreferrer"
    >
      {% if lang === 'de' %}
        Video in neuem Tab öffnen
      {% else %}
        Open video in new Tab
      {% endif %}
    </a>
  </sp-video>
</section>
