---
preview: true
pagination:
  data: pages
  size: 1
  alias: pdata
  resolve: values
  serverless: eleventy.serverless.path["0"]
permalink:
  dynamic: '/preview/(.*)'
---

{{ eleventy.serverless.path | dump(2) }}

<details>
  <summary>Show code</summary>
  <pre>
    {{ pdata | dump(2) }}
  </pre>
</details>
{% include 'components/controller.njk' %}
