---
preview: true
pagination:
  data: pages
  size: 1
  alias: pdata
  resolve: values
  serverless: eleventy.serverless.path.splat
permalink:
  dynamic: '/preview/(.*)'
---

<details>
  <summary>Show code</summary>
  <pre>
    {{ pdata | dump(2) }}
  </pre>
</details>
{% include 'components/controller.njk' %}
