---
preview: true
permalink: 'preview-{{ pagination.pageNumber }}.html'
pagination:
  data: pages
  size: 1
  alias: pdata
  resolve: values
  serverless: eleventy.serverless.path._
---

<details>
  <summary>Show code</summary>
  <pre>
    {{ pdata | dump(2) }}
  </pre>
</details>
{% include 'controller.njk' %}
