<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}{{ ('no lang specified for ' + page.inputPath) | log }}{% endif %}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }}{% else %}{{ ('no title specified for ' + page.inputPath ) | log }}{% endif %}</title>

  {% for wc in webcomponents %}
    <script type="module">
      import "{{ wc }}"
    </script>
  {% endfor %}

</head>
<body>
  {{ content._editable | safe }}
  <main>{{ content | safe }}</main>
  {% if preview %}
    <script src="//app.storyblok.com/f/storyblok-v2-latest.js" type="text/javascript"></script>
    <script>
    // Initialize the Storyblok JS Bridge
    const { StoryblokBridge } = window
    const storyblokInstance = new StoryblokBridge()
    
    storyblokInstance.on(['published', 'change'], () => {
      // reload page if save or publish is clicked
      location.reload(true)
    })
    </script>
  {% endif %}
</body>
</html>
