---
permalink: '{{ pagination.pageNumber }}.html'
pagination:
  data: collections.social_images
  size: 1
  alias: pdata
eleventyComputed:
  permalink: '../src/assets/unbundled/{{ pdata.data.social_image.file }}.html'
layout: 'social_image.njk'
---
