{{ title }} – {{ lang }}

{% set content = pdata.content%}

{# here go all toplevel bloks (not part of modular `body` blok) #}
{% if content.tracks %}
  {% set tracks = content.tracks %}
  {% include 'components/tracks.njk' %}
{% endif %}

{# loop over all bloks in `body` #}
{% asyncEach blok in content.body %}
  {# dynamically load components #}
  {% include ('components/' + blok.component + '.njk') %}
{% endeach %}
