{% set meta_tags = pdata.content.meta_tags[0] %}
{% set description = meta_tags.description %}
{% set image = ('https://img-eleventy-bloks.netlify.app/' + social_image + '.jpg') %}
{% set url = (storyblok_data.domain + page.url) | removeDoubleSlashes %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src='https://js.sentry-cdn.com/3e921892764a47b7a750b3192ea512da.min.js' crossorigin="anonymous"></script>
  {% for script in scripts %}
    {% set _js %}
      {% include '_bundles/_js.json' %}
    {% endset %}
    {% set _js = (_js | parseJSON) %}
    <script {{ script.load }} src="{{ _js[script.name] }}"></script>
  {% endfor %}
  {% set _css %}
    {% include '_bundles/_css.json' %}
  {% endset %}
  {% set _css = (_css | parseJSON) %}
  <script nomudule src="https://polyfill.io/v3/polyfill.min.js?features=es6%2Ces5"></script>
  <script type="module" src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <link rel="stylesheet" href="/bundles/{{ _css.filename }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta name="description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">
  <meta property="og:url" content="{{ url }}">
</head>
