<section>
  <p>there are tracks:</p>
  <sp-music-player class="dynamic-element" style="--primary-color:black;--secondary-color:white">
    <ol>
      {% for item in tracks %}
      <li>
        <p>
        {{ item._editable | safe }}
        {% preview blok=item %}
          {{ item.title }}
        {% endpreview %}
        </p>
        <audio controls src="{{ item.preview.filename }}"></audio>
      </li>
      {% endfor %}
    </ol>
  </sp-music-player>
</section>
