---
permalink: '{{ pagination.pageNumber }}.html'
pagination:
  data: pages
  size: 1
  alias: pdata
  resolve: values
  addAllPagesToCollections: true
---

{% if false %}
<details>
  <summary>Show code</summary>
  <pre>
    {{ pdata | dump(2) }}
  </pre>
</details>
{% endif %}
{% include 'components/controller.njk' %}
